<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cave-World.ru</title>
    <style>{% include 'website/css/style.css' %}</style>
</head>

<body>
<div style="position: absolute; width:500px; left:50%; margin-left: -250px; top: 100px; z-index: 9999; text-align: center">

<h1>Cave-World.ru</h1>
<br>
<h2>Сайт находится в разработке!</h2><br>
    <h3>Группа ВК: <a href="https://vk.com/cave_world_bot">Cave World | Игровой бот</a></h3>

</div>
  <div id="world"></div>
  <script>{% include 'website/three.js' %}</script>
  <script>{% include 'website/js/index.js' %}</script>
</body>
</html>
